<!-- CE # webapp/src/main/resources-plugin/base/app/views/modification.html -->
<form class="process-instance-modification">
  <div class="col-xs-12 help"
       ng-if="!instructions.length">
    Select activity instances in the tree on the left
    or elements on the diagram above to perform modifications on them.
  </div>

  <div class="col-xs-12 instructions"
       ng-if="instructions.length">
    <section ng-repeat="(instructionIndex, instruction) in instructions"
             ng-class="instruction.operation"
             class="row">
      <div class="col-xs-1 meta">
        <button class="btn btn-link"
                ng-click="removeInstruction($index)"
                tooltip="Remove instruction">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
      </div>

      <div class="col-xs-1 meta">
        <span class="badge"
              ng-show="!instructionHasVariables(instruction)"
              tooltip="Affected instances">{{ instruction.activityInstanceIds.length }}</span>
      </div>

      <div class="col-xs-10 modification">
        <header class="row">
          <div class="col-xs-3">
            <select class="form-control"
                    ng-model="instruction.operation">
              <option value="startBefore"
                      ng-selected="instruction.operation === 'startBefore'">
                Start before
              </option>
              <option value="startAfter"
                      ng-selected="instruction.operation === 'startAfter'">
                Start after
              </option>
              <option value="cancel"
                      ng-selected="instruction.operation === 'cancel'">
                Cancel
              </option>
            </select>
          </div>

          <h4 class="col-xs-4 element-name">
            {{ instruction.bpmnElement.name }}
            <span class="badge"
                  tooltip="Affected instances of &quot;{{ instruction.bpmnElement.name }}&quot;"
                  ng-if="instruction.instanceIds.length > 1 && instruction.instanceIds.length !== instructionSelectedInstancesCount(instruction)">
              {{ instructionSelectedInstancesCount(instruction) }} / {{ instruction.instanceIds.length }}
            </span>
            <span class="badge"
                  tooltip="Affected instances of &quot;{{ instruction.bpmnElement.name }}&quot;"
                  ng-if="instruction.instanceIds.length > 1 && instruction.instanceIds.length === instructionSelectedInstancesCount(instruction)">
              All {{ instruction.instanceIds.length }}
            </span>
          </h4>

          <div class="col-xs-5 instance-suggestions"
               ng-if="instruction.instanceIds.length > 1">
            <datalist id="activity-{{ instructionIndex }}-instances">
              <option ng-repeat="(instanceId, selected) in instruction.instances"
                      ng-if="!selected"
                      value="{{ instanceId }}">{{ instanceId }}</option>
            </datalist>

            <div class="input-group">
              <input list="activity-{{ instructionIndex }}-instances"
                     class="form-control"
                     placeholder="Pick instances" />

              <a class="input-group-addon"
                 ng-click="instructionAddInstance(instructionIndex)">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
        </header>

        <div class="activity-instances"
             ng-if="instruction.operation === 'cancel' && instruction.instanceIds.length > 1 && instruction.instanceIds.length !== instructionSelectedInstancesCount(instruction)">
          <div class="row header">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-10 col-xs-offset-2">
              Affected instances

              <a class="btn btn-link"
                 ng-click="instructionSelectAllInstances(instructionIndex)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                All
              </a>
            </div>
          </div>

          <div class="row body"
               ng-repeat="(instanceId, selected) in instruction.instances"
               ng-if="selected">
            <div class="col-xs-1">
              <a class="btn btn-link"
                 ng-click="instruction.instances[instanceId] = false">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </a>
            </div>

            <div class="col-xs-11 instance-id">
              <a ng-click="instructionInstanceInfo(instanceId)">
                {{ instanceId }}
              </a>
              <div class="instance-variables"></div>
            </div>
          </div>
        </div>

        <div class="variables"
             ng-if="instructionHasVariables(instruction)">
          <div class="row header">
            <div class="col-xs-1 add-variable">
              <button class="btn btn-link"
                      tooltip="Add a variable"
                      ng-click="addInstructionVariable(instructionIndex)">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </div>

            <div class="col-xs-3 type">Type</div>

            <div class="col-xs-3 name">Name</div>

            <div class="col-xs-5 value">Value</div>
          </div><!-- .header -->

          <div class="row body"
               ng-repeat="variable in instruction.variables">
            <div class="col-xs-1 actions">
              <button class="btn btn-link"
                      ng-click="removeInstructionVariable(instructionIndex, $index)">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </button>
            </div>

            <div class="col-xs-3 type">
              <select class="form-control"
                      ng-model="variable.type">
                <option ng-repeat="type in variableTypes"
                        value="{{ type }}"
                        ng-selected="variable.type === type">{{ type }}</option>
              </select>
            </div>

            <div class="col-xs-3 name">
              <input class="form-control"
                     ng-model="variable.name"
                     placeholder="myVariable" />
            </div>

            <div class="col-xs-5 value">
              <div class="form-group">
                <div ng-if="variable.type !== 'Boolean'"
                     ng-class="{'input-group': complexVariableType(variable.type)}">
                  <input class="form-control"
                         ng-disabled="!variable.name || complexVariableType(variable.type)"
                         ng-model="variable.value" />

                  <a class="input-group-addon"
                     ng-if="complexVariableType(variable.type)"
                     ng-click="editInstructionVariableValue(instructionIndex, $index)"
                     tooltip="Edit the variable">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </div><!-- not Boolean var type -->

                <div ng-if="variable.type === 'Boolean'"
                     class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-disabled="!variable.name"
                           ng-model="variable.value" />
                    {{ !!variable.value }}
                  </label>
                </div><!-- Boolean var type -->
              </div><!-- .form-group -->
            </div><!-- .value -->
          </div>
        </div><!-- .variables -->
      </div><!-- .modification -->
    </section>
  </div>

  <div class="col-xs-12 actions"
       ng-if="instructions.length">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2 checkbox">
        <label>
          <input type="checkbox"
                 ng-model="requestPayload.skipCustomListeners" />
          Skip custom listeners
        </label>
      </div>

      <div class="col-xs-3 checkbox">
        <label>
          <input type="checkbox"
                 ng-model="requestPayload.skipIoMappings" />
          Skip IO mappings
        </label>
      </div>

      <div class="col-xs-4">
        <button class="btn btn-primary"
                ng-click="confirmModification()">
          Apply modifications
        </button>
      </div>
    </div>
  </div><!-- .actions -->

  <div cam-widget-debug
       debugged="requestPayload"
       open="true"></div>
</form>
<!-- CE / webapp/src/main/resources-plugin/base/app/views/modification.html -->
