<!-- CE # webapp/src/main/resources-plugin/base/app/views/modification.html -->
<form class="process-instance-modification">
  <div class="col-xs-12 help"
       ng-if="!instructions.length">
    Select activity instances in the tree on the left
    or elements on the diagram above to perform modifications on them.
  </div>

  <div class="col-xs-12 instructions"
       ng-if="instructions.length">
    <section ng-repeat="(instructionIndex, instruction) in instructions"
             ng-class="instruction.operation"
             class="row">
      <div class="col-xs-1 meta">
        <button class="btn btn-link"
                ng-click="removeInstruction($index)"
                tooltip="Remove instruction">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
      </div>

      <div class="col-xs-1 meta">
        <span class="badge"
              ng-show="!instructionHasVariables(instruction)"
              tooltip="Affected instances">{{ instruction.activityInstanceIds.length }}</span>
      </div>

      <div class="col-xs-10 modification">
        <header class="row">
          <div class="col-xs-4">
            <select class="form-control"
                    ng-model="instruction.operation">
              <option value="startBefore"
                      ng-selected="instruction.operation === 'startBefore'">
                Start before
              </option>
              <option value="startAfter"
                      ng-selected="instruction.operation === 'startAfter'">
                Start after
              </option>
              <option value="cancelAll"
                      ng-selected="instruction.operation === 'cancelAll'">
                Cancel all instances of
              </option>
              <option value="cancelSome"
                      ng-if="instructionInstancesCount(instruction.instances) > 1"
                      ng-selected="instruction.operation === 'cancelSome'">
                 Cancel some instances of
              </option>
            </select>
          </div>

          <h4 class="col-xs-8 element-name">{{ instruction.bpmnElement.name }}</h4>
        </header>

        <div class="activity-instances"
             ng-if="instruction.operation === 'cancelSome'">
          <div class="row body"
               ng-repeat="(instanceId, checked) in instruction.instances">
            <div class="col-xs-12 checkbox">
              <label>
                <input type="checkbox"
                       ng-model="instruction.instances[instanceId]" />
                {{ instanceId }}
              </label>
            </div>
          </div>
        </div>

        <div class="variables"
             ng-if="instructionHasVariables(instruction)">
          <div class="row header">
            <div class="col-xs-1 add-variable">
              <button class="btn btn-link"
                      tooltip="Add a variable"
                      ng-click="addInstructionVariable(instructionIndex)">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </div>

            <div class="col-xs-3 type">Type</div>

            <div class="col-xs-3 name">Name</div>

            <div class="col-xs-5 value">Value</div>
          </div>

          <div class="row body"
               ng-repeat="variable in instruction.variables">
            <div class="col-xs-1 actions">
              <button class="btn btn-link"
                      tooltip="Remove the variable"
                      ng-click="removeInstructionVariable(instructionIndex, $index)">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </button>
            </div>

            <div class="col-xs-3 type">
              <select class="form-control"
                      ng-model="variable.type">
                <option ng-repeat="type in variableTypes"
                        value="{{ type }}"
                        ng-selected="variable.type === type">{{ type }}</option>
              </select>
            </div>

            <div class="col-xs-3 name">
              <input class="form-control"
                     ng-model="variable.name"
                     placeholder="myVariable" />
            </div>

            <div class="col-xs-5 value">
              <div class="form-group">
                <div ng-if="variable.type !== 'Boolean'"
                     ng-class="{'input-group': complexVariableType(variable.type)}">
                  <input class="form-control"
                         ng-disabled="!variable.name || complexVariableType(variable.type)"
                         ng-model="variable.value" />

                  <a class="input-group-addon"
                     ng-if="complexVariableType(variable.type)"
                     ng-click="editInstructionVariableValue(instructionIndex, $index)"
                     tooltip="Edit the variable">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </div><!-- not Boolean var type -->

                <div ng-if="variable.type === 'Boolean'"
                     class="checkbox">
                  <label>
                    <input type="checkbox"
                           ng-disabled="!variable.name"
                           ng-model="variable.value" />
                    {{ !!variable.value }}
                  </label>
                </div><!-- Boolean var type -->
              </div><!-- .form-group -->
            </div><!-- .value -->
          </div>
        </div>

        <!-- <div class="row debug"
             ng-init="{debug: true}">
          <div class="col-xs-1">
            <button class="btn btn-link"
                    ng-click="debug = !debug">
              <span class="glyphicon"
                    ng-class="{'glyphicon-eye-open': !debug, 'glyphicon-eye-close': debug}"></span>
            </button>
          </div>

          <div class="col-xs-11"
               ng-show="debug">
            <pre>{{ instruction | json }}</pre>
          </div>
        </div> --><!-- .debug -->
      </div>
    </section>
  </div>

  <div class="col-xs-12 actions"
       ng-if="instructions.length">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2 checkbox">
        <label>
          <input type="checkbox"
                 ng-model="requestPayload.skipCustomListeners" />
          Skip custom listeners
        </label>
      </div>

      <div class="col-xs-3 checkbox">
        <label>
          <input type="checkbox"
                 ng-model="requestPayload.skipIoMappings" />
          Skip IO mappings
        </label>
      </div>

      <div class="col-xs-4">
        <button class="btn btn-primary"
                ng-click="confirmModification()">
          Apply modifications
        </button>
      </div>
    </div>

  </div><!-- .actions -->
</form>
<!-- CE / webapp/src/main/resources-plugin/base/app/views/modification.html -->
