<!-- CE # webapp/src/main/resources-plugin/base/app/views/modification/modification-confirmation-dialog.html -->
<div class="modal-header">
  <h3 class="modal-title">Confirm the modifications</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      You are playing with <span title="fire" class="glyphicon glyphicon-fire"></span>.
      Please, carefully review the modifications beeing performed.
    </div>
  </div>

  <div class="row instruction"
       ng-repeat="instruction in requestPayload.instructions"
       ng-class="instructionCssClass(instruction.type)">
    <div class="col-xs-2">
      <button class="btn btn-link"
              ng-click="removeConfirmationInstruction($index)">
        <span class="glyphicon glyphicon-minus-sign"></span>
      </button>
    </div>

    <div class="col-xs-3 type">{{ instruction.type }}</div>

    <div class="col-xs-7 target">
      {{ (instruction.activityId || instruction.activityInstanceId || instruction.transationId) }}
    </div>
  </div>

  <div cam-widget-debug
       debugged="requestPayload"
       class="row"></div>
</div><!-- .modal-body -->


<div class="modal-footer">
  <button class="btn btn-link"
          ng-click="cancel()">Cancel</button>

  <button class="btn btn-primary"
          ng-click="ok()">Proceed</button>
</div>
<!-- CE / webapp/src/main/resources-plugin/base/app/views/modification/modification-confirmation-dialog.html -->
